body {
	width: 100wh;
	height: 90vh;
	color: #fff;
  background: url('webtek_particles.gif');
	text-align: center;
  margin: 0 auto;
}
a {
	color: white;
}
.btn {
  background: #000000;
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
	font-family: 'Arial', cursive;
  color: #ffffff;
  font-size: 23px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}
.btn:hover {
  background: #404040;
  text-decoration: none;
}
.centered {
	text-align: center;
}
.video {
	text-align: center;
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
}
.clip-circle {
  clip-path: circle(110px at center);
}
.blink_me {
  animation: blinker 0.2s linear infinite;
}
@keyframes blinker {
  50% { opacity: 0; }
}
