body {
    background-image: url("../picts/back_wt17.png");
    background-position: center top;
}

img {
    width: 100%;
}


.iframe-responsive-wrapper        {
    position: relative;
}

.iframe-responsive-wrapper .iframe-ratio {
    display: block;
    width: 100%;
    height: auto;
}

.iframe-responsive-wrapper .iframe-chat {
    display: block;
    width: 100%;
    height: auto;
    min-height:500px!important;
}

.iframe-responsive-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%!important;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.h-10 { margin-top: -10px!important;}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 
#myBtn {
    background: #965860;
    background-image: -webkit-linear-gradient(top, #965860, #ad0000);
    background-image: -moz-linear-gradient(top, #965860, #ad0000);
    background-image: -ms-linear-gradient(top, #965860, #ad0000);
    background-image: -o-linear-gradient(top, #965860, #ad0000);
    background-image: linear-gradient(to bottom, #965860, #ad0000);
    -webkit-border-radius: 16;
    -moz-border-radius: 16;
    border-radius: 16px;
    text-shadow: 4px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    border: solid #ffffff 2px;
    text-decoration: none;
    position: absolute;
    top:10px;
    right:10px;
}

#myBtn:hover {
    background: #ebc3c3;
    background-image: -webkit-linear-gradient(top, #ebc3c3, #d93434);
    background-image: -moz-linear-gradient(top, #ebc3c3, #d93434);
    background-image: -ms-linear-gradient(top, #ebc3c3, #d93434);
    background-image: -o-linear-gradient(top, #ebc3c3, #d93434);
    background-image: linear-gradient(to bottom, #ebc3c3, #d93434);
    text-decoration: none;
}

@media (max-width: 720px) { 
  .smallH { font-size: 13px;
    padding: 3px 8px 3px 8px;
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    }
}
