body {
    color: #ffffff;
    background-color: #000;
}

.h1 {
    font-family: 'Chakra Petch', sans-serif;
}

a:hover {
    color: yellow;
    text-decoration: none;
}

.h3, h3 {
    font-size: 1.2rem;
    font-weight: 800;
}

.container-fluid {
    background-color: black;
}

.centered {
    text-align: center;
}

 @-webkit-keyframes argh-my-eyes {
    0%   { background-color: #fff; }
    49% { background-color: #fff; }
    50% { background-color: #000; }
    99% { background-color: #000; }
    100% { background-color: #fff; }
  }
  @-moz-keyframes argh-my-eyes {
    0%   { background-color: #fff; }
    49% { background-color: #fff; }
    50% { background-color: #000; }
    99% { background-color: #000; }
    100% { background-color: #fff; }
  }
  @keyframes argh-my-eyes {
    0%   { background-color: #fff; }
    49% { background-color: #fff; }
    50% { background-color: #000; }
    99% { background-color: #000; }
    100% { background-color: #fff; }
  }

.strobo {
  -webkit-animation: argh-my-eyes 0.23s infinite;
  -moz-animation:    argh-my-eyes 0.23s infinite;
  animation:         argh-my-eyes 0.23s infinite;
}
